# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env/
.envrc

# ======================
# Packaging
# ======================
build/
dist/
*.egg-info/

# ======================
# Testing / coverage
# ======================
.pytest_cache/
.coverage
htmlcov/

# ======================
# Logs & local files
# ======================
*.log
*.sqlite3

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.swp

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db
